# Visual C++
*.opensdf
*.sdf
*.obj
*.pdb
*.idb
*.ib_pdb_index
*.tlog
tgUI/x64/

# Qt
tgUI/GeneratedFiles/

# Release
bin/Release/tgUI.exe
bin/Release/Config.ini

# Debug
bin/Debug/tgUI.exe
bin/Debug/tgUI.ilk
bin/Debug/Config.ini