# Visual C++
*.opensdf
*.sdf
*.obj
*.pdb
*.idb
*.ib_pdb_index
*.tlog
tgUI/x64/
tgCore/x64/

# Qt
tgUI/GeneratedFiles/

# Release
bin/Release/tgUI.exe
bin/Release/Config.ini
bin/Release/tgCore.dll

lib/Release/tgCore.lib
lib/Release/tgCore.exp

# Debug
bin/Debug/tgUI_d.exe
bin/Debug/tgUI_d.ilk
bin/Debug/Config.ini
bin/Debug/tgCore_d.dll
bin/Debug/tgCore_d.ilk

lib/Debug/tgCore_d.lib
lib/Debug/tgCore_d.exp